{% extends "global/Page.html" %}
{% block content %}
  <h3>Instructions</h3>
  <p>Next, you will make a series of choices between three hypothetical investment options.</p>
  <p>
    For each decision:
    <ul>
      <li>Select your preferred option by clicking its radio button.</li>
      <li>Click “Next” to proceed.</li>
    </ul>
  </p>
  <p>After completing all decision rounds, you will fill out a short survey about your familiarity with and perception of crypto, equities, and bonds, then finish with a brief numeracy test.</p>
  {{ next_button }}
{% endblock %}
